<template name="customers">
<h1>Customers</h1>

{{>addCustomerForm}}
<br>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Orders Amount</th>
    </tr>
  </thead>
  <tbody>
    {{#each customer}}
    <tr>
      <td>{{_id}}</td>
      <td>{{fName}} {{lName}}</td>
      <td>{{mainPhone}}</td>
      <td>Column content</td>
    </tr>
    {{/each}}  
  </tbody>
</table> 
</template>

<template name ="addCustomerForm">
  <form>
    <input type="text" name="fName">
    <input type="text" name="lName">
    <input type="text" name="mainPhone">
    <input type="submit" value="Add Customer">
    
    </form>
  </template>